<div id="container">  
<ul>
    <li> <a href="#">HOME</a></li>
    <li> <a href="#">Customers</a>
        <ul>
            <li><a routerLink="khach-hang-1">Customer1</a></li>
            <li><a routerLink="khach-hang-2">Customer2</a></li>
            <li><a routerLink="khach-hang-3">Customer3</a></li>
        </ul>
    </li>
    <li> <a href="#">Product</a>
        <ul>
            <li> <a routerLink="san-pham-1">Product 1</a></li>
            <li> <a href="#">Product 2</a></li>
            <li> <a href="#">Product 3</a></li>
            <li> <a href="#">Product 4</a></li>
        </ul>
    </li>
    <li> <a href="#">FORMS</a>
        <ul>
            <li> <a>FORM</a></li>
            <li> <a>REACTIVE FORM</a></li>
        </ul>
    </li>
    <li> <a href="#">EXTERNAL API</a>
        <ul>
            <li> <a routerLink="ex26">Ex 26</a></li>
            <li> <a routerLink="ex27">Ex 27</a></li>
            <li> <a routerLink="ex28">Ex 28</a></li>
        </ul>
    </li>
    <li> <a href="#">EXTERNAL API2</a>
        <ul>
            <li> <a routerLink="ex39">Ex 39</a></li>
            <li> <a routerLink="ex41">Ex 41</a></li>
        </ul>
    </li>
    <li> <a href="#">Exercise</a>
        <ul>
            <li> <a routerLink="ex13">Ex13</a></li>
            <li> <a routerLink="ex18">Ex18</a></li>
            <li> <a routerLink="ex19">Ex19</a></li>
            <li> <a routerLink="ex50">Ex50</a></li>
        </ul>
    </li>
    <li>
        <a href="#">API Restful Mongo</a>
        <ul>    
            <li> <a routerLink="ex53">EX53</a></li>
            <li> <a routerLink="ex54">EX54</a></li>
            <li> <a routerLink="ex63">EX63</a></li>
            <li> <a routerLink="ex63cart">EX63 Cart</a></li>
        </ul>
    </li>
    <li> <a href="#">NGÔN NGỮ ASP</a></li>
    <li> <a routerLink="gioi-thieu">ABOUT</a></li>

    <!-- ===== AUTH MENU ===== -->
    <li *ngIf="!isLoggedIn()">
        <a href="#">Tài Khoản</a>
        <ul>
            <li><a routerLink="login">Đăng Nhập</a></li>
            <li><a routerLink="register">Đăng Ký</a></li>
        </ul>
    </li>
    <li *ngIf="isLoggedIn()">
        <a href="#">{{ getUsername() }}</a>
        <ul>
            <li><a (click)="logout()" style="cursor:pointer;">Đăng Xuất</a></li>
        </ul>
    </li>
</ul>
</div>
<router-outlet></router-outlet>