<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

<div class="book-detail-container">
  <div class="detail-header">
    <h2><i class="fa-solid fa-book-open"></i> Book Details</h2>
    <a routerLink="/ex50" class="btn-back">
      <i class="fa-solid fa-arrow-left"></i> Back to List
    </a>
  </div>

  <div *ngIf="book; else loadingTpl" class="detail-content">

    <div class="image-section">
      <div class="book-image-wrapper">
        <img *ngIf="book.image"
          [src]="getImageUrl(book.image)"
          [alt]="book.title"/>
        <div *ngIf="!book.image" class="no-image">
          <i class="fa-regular fa-image"></i>
          <span>No Image Available</span>
        </div>
      </div>
    </div>

    <div class="info-section">
      <div class="info-group">
        <span class="info-label">Book ID</span>
        <div class="info-value"><i class="fa-solid fa-hashtag"></i> {{ book.id }}</div>
      </div>
      <div class="info-group">
        <span class="info-label">Title</span>
        <div class="info-value"><i class="fa-solid fa-book"></i> {{ book.title }}</div>
      </div>
      <div class="info-group" *ngIf="book.author">
        <span class="info-label">Author</span>
        <div class="info-value"><i class="fa-solid fa-user-pen"></i> {{ book.author }}</div>
      </div>
      <div class="info-group">
        <span class="info-label">Price</span>
        <div class="price-tag">${{ book.price }}</div>
      </div>
      <div class="info-group">
        <span class="info-label">Added Date</span>
        <div class="info-value">
          <i class="fa-solid fa-calendar"></i>
          {{ book.createdAt | date:'mediumDate' }}
        </div>
      </div>

      <div class="action-buttons">
        <a [routerLink]="['/ex50/edit', book.id]" class="btn-action btn-edit">
          <i class="fa-solid fa-pen-to-square"></i> Edit Book
        </a>
        <button class="btn-action btn-delete" (click)="deleteBook()">
          <i class="fa-solid fa-trash-can"></i> Delete Book
        </button>
      </div>
    </div>

  </div>

  <ng-template #loadingTpl>
    <div class="loading-container">
      <div class="loading-spinner"></div>
      <p class="loading-text">Loading book details...</p>
    </div>
  </ng-template>
</div>